#board {
  aspect-ratio: 1 / 1;
  width: 560px;
  border: 2px solid black;

  display: grid;
  
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  position: absolute
}

#board .white-square {
  background-color: white;
}

#board .black-square {
  background-color: black;
}